html, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
}

html, body
{
    height: 100%;
    margin: 0;
	padding: 0;
}

h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
}
a:hover {
	color: #FFA405;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: #E0D5B7 url(images/page_bg.jpg) repeat-x;
	text-align: center;
	font: 12px verdana, arial, sans-serif;
	color: #74653D;
	padding-bottom: 10px;
	padding-top: 31px;
}

/** layout **/
#wrapper {
	position: relative;
	text-align: left;
	margin: auto;
	width: 75%;
	height:auto;
    background: url(images/body_bg.gif) repeat-y;
	background-size:100%;
}

#header {
	width: 100%;
	height: 279px;
	left:26%;
}

#header2 {
	position: absolute;
	top: -3px;
	left: 243px;
	width: 535px;
	height: 152px;
	background: url(images/header_3.jpg) no-repeat;
}
#left {
  float: left;
  width: 25%;
  height:100%;
}
#logo {
  width: 94%;
  height: 152px;
  padding-left:6%;
  background: url(images/header_1.jpg) no-repeat;
  background-size:100%;
  color: #595959;
}

#nav {
  background: url(images/nav_left.jpg) no-repeat;
  background-size:100%;
  width:95%;
  padding-left:5%;
  padding-top:25px;
}
#nav ul {
  padding-bottom: 29px;
  background: #2A2A2A bottom left url(images/nav_bot.jpg) no-repeat;
  background-size:100%;
}
#nav li {
  list-style: none;
  font: 14px "arial narrow", arial, sans-serif;
  border-top: 1px solid #959595;
  background: 100% 10px url(images/arr_white.gif) no-repeat;
  width:100%;
}

#nav a {
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #959595;
  padding-left: 10px;
  display: block;
  width: 94%;
  padding: 2px 0 6px 8px;
}
#nav a:hover {
  text-decoration: underline;
}
#nav .important {
  background: 188px 10px url(images/arr_orange.gif) no-repeat;
}
#nav .important a {
  color: #E9C379;
}

#news {
  background: url(images/news_bg.jpg) repeat-y;
  background-size:100%;
  width:94%;
  padding-left: 5%;
  padding-bottom: 3px;
  text-align: justify;
}
#news h2 {
  font-size: 15px;
  color: #BE8B06;
}
#news h3, #news p {
  font-size: 11px;
  margin: 1em 8px 1em 0;
}
#news a {
  color: #74653D;
  font-weight: bold;
  text-decoration: underline;
}
#news a:hover {
  color: #38301A;
}
#news .more {
  font-size: 9px;
}
#news .hr-dots {
  background: center url(images/dots.gif) repeat-x;
  height: 10px;
}

#support {
  background: url(images/support.jpg) no-repeat;
  background-size:100%;
  height:97px;
  color: #1A1A18;
}
#support p {
  margin: 0.7em 2.6em;
}

#right {
  float: right;
  width: 74%;
  padding-right: 9px;
  padding-top: auto;
}
#right h2 {
  font: 18px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
}
#right h3 {
  font: 12px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
  margin-top: 2em;
}
#right2 {
  float: right;
  width: 490px;
  padding-right: 9px;
  padding-left: 32px;
  padding-top: 165px;
}
#right2 h2 {
  font: 18px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
}
#right2 h3 {
  font: 14px arial, sans-serif;
  color: #BE8B06;
  border-bottom: 1px solid #C4AE7C;
  padding-bottom: 6px;
  margin-bottom: 1em;
  margin-top: 2em;
}
#welcome {
  width:100%;
}

#farmhouselogo img{
	padding-right:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-top: 10px;
}

#farmdescription1{
	color:black;
	font-size: 1.2em;
	text-align:center;
	line-height:1em;
}

#farmdescription2{
	border-right-color:black;
	border-right-style:solid;
	border-right-width:2px;
	
	border-bottom-color:black;
	border-bottom-style:solid;
	border-bottom-width:2px;
	
	border-left-color:black;
	border-left-style:solid;
	border-left-width:2px;
	
	border-top-color:black;
	border-top-style:solid;
	border-top-width:2px;	
}


#farminfo{
	color:black;
	padding-left:40px;
	text-align:left;
	line-height:2em;
}
#fallfestival{
	width: 100%;
	background-color:0xB7D5E0
}

#photobox{
valign: center;
}
#profile {
  width:100%
}
#right .left {
  margin-right: 18px;
}
#right .more {
  font-weight: bold;
  font-size: 10px;
}

#corp, #indu {
  float: left;
  width: 49%;
}
#corp {
  margin-right: 1%;
}
#corp-img, #indu-img {
  background: url(images/pic_2.jpg) no-repeat;
  width: 112px;
  height: 23px;
  float: left;
  margin-right: 18px;
  text-align: center;
  padding-top: 90px;
  font-size: 9px;
  font-weight: bold;
}
#indu-img {
  background: url(images/pic_3.jpg) no-repeat;
}
#spacer {
  height: 2em;
}

#price{
  font-weight: bold;
  font-size: 11px;
}

#footer {
  background: url(images/footer_bg.gif) repeat-y;
  background-size:100%;
}
#copyright {
  text-align: center;
  padding: 22px 0px 30px 00px;
  font-size: 9px;
  color: #715F36;
  font-weight: bold;
}
#footerline{
	background: url(images/footerline.gif) no-repeat;
	background-size:100%;
	height:10px;
	margin-top:0px;
	display:block;
	font-size:1px;
}
#wrapper #right2 h2 strong {
	color: #BC3F0A;
}
#wrapper #right2 h2 strong {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
#wrapper #left #news p strong {
	color: #804000;
}
#wrapper #left #news p strong {
	color: #F00;
}
#wrapper #left #news p {
	color: #000;
}
#wrapper #left #news h1 u strong {
	color: #FF8000;
}
#wrapper #left #news h1 u strong {
	color: #6C3600;
}
#wrapper #left #news h1 u strong {
	color: #808000;
}
#wrapper #right h1 strong {
	color: #008000;
}
#wrapper #right h1 strong {
	color: #808040;
}
#wrapper #right h1 strong {
	color: #808000;
}
#wrapper #right h1 {
	color: #808000;
}
#wrapper #right h1 {
	color: #A50;
}
#wrapper #right h1 {
	color: #603000;
}
#wrapper #right h1 {
	color: #643200;
}
#wrapper #right h1 {
	color: #808000;
}
#wrapper #left #news p strong em {
	color: #000080;
}
#wrapper #right2 #profile .clear p strong {
	color: #000;
}
#wrapper #right2 #profile table tr td form p {
	color: #000;
}
#wrapper #right2 #profile table tr td table tr td p {
	color: #000;
}
